version: "3"

services:
  server:
    container_name: "server"
    volumes:
      - "./server:/usr/app"
    env_file: ./.env
    environment:
      - "NODE_ENV=development"
    ports:
      - "3000:3000"

  client:
    container_name: "client"
    volumes:
      - "./client:/usr/app"
    environment:
      - "NODE_ENV=development"
    ports:
      - "8000:8000"